
<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<!--<div class="card"><h2 class="card__title">Vận chuyển</h2>-->
<!--  <div class="table-wrapper">-->
<!--    <table class="table"><thead><tr><th>Mã xe</th><th>Biển số</th><th>Tài xế</th><th>SĐT</th></tr></thead>-->
<!--      <tbody>-->
<!--      {% for x in items %}-->
<!--        <tr>-->
<!--          <td>{{ x.id_xe_van_chuyen }}</td>-->
<!--          <td>{{ x.bien_so }}</td>-->
<!--          <td>{{ ((x.ho or '') ~ ' ' ~ (x.ten_dem or '') ~ ' ' ~ (x.ten or '')) | trim }}</td>-->
<!--          <td>{{ x.so_dien_thoai_tai_xe }}</td>-->
<!--        </tr>-->
<!--      {% endfor %}-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
<!--{% endblock %}-->
